extends layout

block content

    p Deleting this book will also delete all of the authors who have no other books. Proceed?

    form(method='POST' action='')
        div.form-group
            input#bookid.form-control(type='hidden', name='bookid', required='true', value=book._id)

        button.btn.btn-primary(type='submit') Delete