extends layout

block content
    .jumbotron
        .container

            h1= title

    .container
        ul
            each category in category_list
                p
                    a(href=category.url) #{category.name ? category.name.replace(/&#x27;/g, "'") : ''}
            else
                p No categories found.