extends layout

block content

    h1 Login

    form(method='POST' action='/login')
        .form-group
            label(for='username') Username 
            input(type='username' id='username' name='username' required='true')
        .form-group
            label(for='password') Password 
            input(type='password' id='password' name='password' required='true')
        button.btn.btn-primary(type='submit') Login