extends layout

block content

    p Thank you for your interest! We are not yet open to library registration. Please visit our main website and sign up for our mailing list
    | to be updated on our progress. 

    a.button.btn.btn-primary(href='https://www.simslibraryofpoetry.org') Library Site »